/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");
@import "tailwindcss";

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
