/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-green: "#7FACB3";
  --color-darker-green: "#4C7980";
  --color-primary-blue: "#233275";
}

@layer components {
  .cta-btn {
    @apply bg-linear-to-r from-[#4C7980] to-[#7FACB3] px-4 py-3.5 rounded-2xl text-white;
  }
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  /* @apply "text-lg"; */
  text-align: justify;
}

ul > li {
  text-align: justify;
}
